/* .logo-img {
    max-width: 5%;
    height: auto;
    margin-left: .5rem;
} */

/* .logo {
    display: flex;
} */

.toolbar {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    width: 50%;
}

.input {
    padding: .2rem;
    margin-left: .2rem;
    margin-right: .2rem;
}

.input:hover {
    background-color: rgb(25, 107, 199);
}

.logo {
    max-width: 5%;
    height: auto;
}

.logo-img {
    max-width: 50%;
    height: auto;
    margin: .5rem;
}

.icons {
    display: flex;
    padding: .2rem;
    border-radius: 5%;
}

.icons:hover {
    cursor: pointer;
    background-color: rgb(25, 107, 199);
}